/* Custom styles will go here */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.report-tab.active-tab {
    border-color: #3b82f6; /* Tailwind's blue-500 */
    color: #3b82f6;
}
